.ex-1-squadre {
  transition: 2s;
}

.ex-1-square:hover {
  background: red;
}

.ex-2-square {
  transition: 2s ease-in;
}

.ex-2-square:active {
  width: 1000px;
}

.ex-3-square {
  transition: 2s;
}

.ex-3-square:hover {
  border-radius: 50%;
}

.ex-4-square {
  transition: 2s;
}

.ex-4-square:hover {
  opacity: 0;
}

.ex-5-square {
  transition: 2s;
}

.ex-5-square:hover {
  scale: 2;
}

.ex-5-square:active {
  scale: 0.5;
}

.ex-6-img:hover {
  filter: grayscale(1);
}

.ex-7-img {
  transition: 4s;
}

.ex-7-img:hover {
  filter: invert(.7) grayscale(1);
}

.ex-8-img {
  transition: 2s;
}

.ex-8-img:hover {
  filter: contrast(.7) grayscale(0.6);
  border-radius: 20px;
}

.ex-9-img {
  transition: 2s;
}

.ex-9-img:hover {
  filter: contrast(.7) grayscale(0.6);
  border-radius: 20px;
  scale: 1.5;
}

.ex-10-icon {
  animation: rotateAnimation 1s linear infinite;
}

@keyframes rotateAnimation {
  0% {
      transform: rotate(1turn);
  }
}

.ex-11-icon:hover {
  animation: rotate 2s linear;
}

@keyframes rotate {
  0% {
      transform: rotate(0);
  }
  25% {
      transform: rotate(100deg);
  }
  50% {
    transform: rotate(200deg);
  }
  75% {
    transform: rotate(300deg);
  }
  100%{
    transform: rotate(0);
  }
}
